/* home */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.logo span {
    color: #ff2d55;
}

.nav-links {
    display: flex;
    list-style: none;
    font-size:20px;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 50px;
}

.hero-content {
    max-width: 50%;
}

.hero-content h1 {
    font-size: 52px;
    margin: 0;
    padding-bottom:50px;
}

.hero-content h1 .highlight span {
    color: #ff2d55;
}

.hero-content p {
    font-size: 24px;
    margin: 20px 0;
    padding-bottom:20px;
}

.hero-content form {
    display: flex;
    padding-bottom:50px;
}

.hero-content input {
    padding: 10px;
    border: none;
    border-radius: 25px 0 0 25px;
    width: 300px;
}

.hero-content button {
    background-color: #ff2d55;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
}

.hero-image img {
    border-radius: 50%;
    max-width: 400px;
    height:400px;
    width:500px;
    margin-right:150px;
}

/* About Section */
.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 50px;
    background-color: #000;
    color: #fff;
}

.about-image {
    max-width: 45%;
}

.about-image img {
    border-radius: 10px;
    max-width: 100%;
    height:500px;
    width:500px;
}

.about-content {
    max-width: 50%;
}

.about-content h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

.about-content h3 {
    font-size: 24px;
    color: #ff2d55;
    margin-bottom: 20px;
}

.about-content h3 span {
    color: #fff;
}

.about-content p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
}

/* Experience Section */
.experience {
    padding: 80px 50px;
    background-color: #1c1c1c;
    color: #eaeaea;
}

.experience h2 {
    font-size: 48px;
    margin-bottom: 50px;
    color: #fff;
}

.timeline {
    position: relative;
    margin-left: 30px;
}

.timeline-item {
    position: relative;
    margin-bottom: 50px;
}

.timeline-item .year {
    position: absolute;
    left: -100px;
    top: 0;
    font-size: 24px;
    color: #eaeaea;
    margin-left:50px;
}

.timeline-item .dot {
    position: absolute;
    left: -35px;
    top: 8px;
    height: 12px;
    width: 12px;
    background-color: #f8a100;
    border-radius: 50%;
    margin-left:50px;
}

.timeline-item .details {
    padding-left: 80px;
}

.timeline-item h3 {
    font-size: 28px;
    margin-bottom: 5px;
    color: #fff;
}

.timeline-item .company {
    font-style: italic;
    margin-bottom: 10px;
    color: #c9c9c9;
}

.timeline-item p {
    font-size: 16px;
    line-height: 1.6;
    color: #c9c9c9;
}
